<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderLust</title>
</head>

<body>
    <h2>Listings Details: </h2>
    <h2>
        <%= listing.title %>
    </h2>
    <h3>
        &#8377; <%= listing.price.toLocaleString("en-IN") %>
    </h3>
    <p>
        <%= listing.description %>
    </p>
    <p>
        <%= listing.location %>
    </p>
    <p>
        <%= listing.country %>
    </p>

    <a href="/listings/<%=listing._id%>/edit">edit listing</a><br><br>

    <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
        <button>Delete</button>
    </form>
</body>

</html>